# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**:
+ List popular languages for Data Science
+ Python
+ R
+ SQL
+ Pandas
+ Matplotlib

In [ ]:
Some of the popular languages that Data Scientists use are:

1 . Python

2 . R

3 . SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1 . Pandas

2 . Matplotlib

3 . Numpy

4 . Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
#This is simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Auther:
Yu Zhang